<!-- partial to show conversations -->
<div style="height: 400px; overflow-y: auto;">
      <% if @conversations.any? and @groupconversations.any? %>
          <ul class="media-list">
            <% @conversations.each do |conversation| %>
                 <%= sync partial: 'user_listconvo', resource: conversation %>

            <% end %>
            <% @groupconversations.each do |conversation| %>
                <%= sync partial: 'user_listgconvo', resource: conversation %>

            <% end %>
          </ul>
          
      <% elsif @groupconversations.any? %>
          <ul class="media-list">
            <% @groupconversations.each do |conversation| %>
                <%= sync partial: 'user_listgconvo', resource: conversation %>

            <% end %>
          </ul>
          
       <% elsif @conversations.any?  %>
          <ul class="media-list">
            <% @conversations.each do |conversation| %>
                <%= sync partial: 'user_listconvo', resource: conversation %>

            <% end %>
          </ul>
      
      <% else %>
          <p>You have no conversations. Click send message with any user to create one.</p>
      <% end %>
    </div>
