 <li class="media">
                  <%= image_tag("http://placehold.it/50x50", class: "media-object pull-left") %>
                  <div class="media-body">
                    <%= link_to "", groupconversation_path(conversation), class: "groupconversation", "data-cid" => conversation.id %>
                        <h4 class="media-heading"><%= grconversation_interlocutor(conversation) %></h4>
                        <p><%= conversation.groupmessages.last.nil? ? "No messages" : truncate(conversation.groupmessages.last.body, length: 45) %></p>
                  </div>
                </li>